<div class="s_table">
  <%= link_to "Go Back",new_date_pick_path, :class => "p_link"%> 
  <%= link_to "Summary Report",payments_path, :class => "p_link" %>
  <br/>
  <br/>
  <% unless @gateway_list.nil? %>
    <table id ="mytable"cellspacing="0" style="width:200px;">
      <caption>Summary for Duration: <%= "#{@date_pick.start_date} to #{@date_pick.end_date}" %></caption>
      <tr>
        <th class="nobg">Provider</th>
        <th>Count</th>
        <th>Amount</th>
      </tr>
      <%  for pay in @gateway_list %>
        <tr>
          <td><%= ((pay.gateway.nil?)? "Offline" : pay.gateway.capitalize) %></td>
          <td><b><%= pay.c_count %></b></td>
          <td><b><%= pay.c_total.round(2) %> </b> </td>
        </tr>
      <% end %>
    </table>
  <% end %>


</div>