<div class="s_table">
  <%= link_to "Custom Range",new_date_pick_path%>
  <br/>
  <br/>
  <table id="mytable" cellspacing="0" summary="Payment Summary">
    <caption>Payment Summary</caption>
    <tr>
      <th class="nobg">Provider</th>
      <th>Yesterday</th>
      <th>Current Month</th>
      <th>Previous Month</th>
      <th>All Time</th>
    </tr>
    <%  for pay in @gateway_list %>
      <tr>
        <td class="spec"><%= ((pay.gateway.nil?)? "Offline" : pay.gateway.capitalize) %></td>
      </tr>
      <tr>
        <td>Count</td>
        <td><%= pay.y_count %></td>
        <td><%= pay.c_count %> </td>
        <td><%= pay.l_count %> </td>
        <td><%= pay.a_count %></td>
      </tr>
      <tr>
        <td>Amount</td>

        <td><b><%= pay.y_total.round(2) %></b></td>
        <td><b><%= pay.c_total.round(2) %> </b></td>
        <td><b><%= pay.l_total.round(2) %> </b></td>
        <td><b><%= pay.a_total.round(2) %></b></td>
      </tr>
    <% end %>
    <tr>
      <th scope="row" class="unknown">Unknown</th>
    </tr>
    <tr>
      <td>Count</td>
      <td><b><%= @u_count%> </b></td>
    </tr>

    <tr>
      <td>Total</td>
      <td><b><%= @u_total.round(2)%> </b></td>
    </tr>
  </table>
</div>